ion-item::part(native) {
  padding-left: 0;
}

app-text-card ion-list {
  margin-top: var(--ion-padding-md);
}

.vote-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.votings-title {
  text-align: center;
}

.no-votes-text {
  text-align: center;
  color: var(--ion-color-text-secondary);
}

.loading-voting-record-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  height: 100%;
}
