@import '../../../../theme/mixins.scss';

ion-item::part(native) {
  padding-left: 0;
}

app-text-card ion-list {
  margin-top: var(--app-spacing-md);
}

.vote-item {
  @include flex-between();
}

.votings-title {
  text-align: center;
}

.no-votes-text {
  text-align: center;
  color: var(--app-text-muted);
}

.loading-voting-record-container {
  @include flex-center();
  margin-top: 3rem;
  height: 100%;
}
