<ion-tabs>
  <ion-tab-bar class="toolbar-padding" slot="bottom">
    <ion-tab-button tab="votes">
      <ion-icon name="mail"></ion-icon>
      <ion-label>Abstimmungen</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="business">
      <ion-icon name="bag-check"></ion-icon>
      <ion-label>Geschäfte</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="council-member">
      <ion-icon name="people"></ion-icon>
      <ion-label>Ratsmitglieder</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="cog"></ion-icon>
      <ion-label>Einstellungen</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
