<ion-header>
  <ion-toolbar>
    <ion-title> Abstimmungen </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      #searchBar
      appHideKeyboardOnEnter
      color="light"
      enterkeyhint="search"
      (ionChange)="onSearch($event)"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content role="feed" class="ion-padding">
  <ng-container *ngIf="!loading; else loadingScreen">
    <ng-container *ngIf="!error; else errorScreen">
      <ng-container *ngIf="!noContent; else noContentScreen">
        <app-vote-card
          *ngFor="let vote of votes"
          [vote]="vote"
          (click)="onClickVote(vote.ID)"
        ></app-vote-card>

        <ion-infinite-scroll
          threshold="100px"
          (ionInfinite)="distanceReached($event)"
        >
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ng-container>
    </ng-container>
  </ng-container>
</ion-content>

<ng-template #loadingScreen>
  <app-loading-screen></app-loading-screen>
</ng-template>

<ng-template #noContentScreen>
  <app-no-content-screen (resetFilter)="resetFilter()"></app-no-content-screen>
</ng-template>

<ng-template #errorScreen>
  <app-error-screen (retry)="retrySearch()"></app-error-screen>
</ng-template>
