<ion-header>
  <ion-toolbar>
    <ion-title> Ratsmitglieder </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      #searchBar
      appHideKeyboardOnEnter
      color="light"
      placeholder="Suche"
      enterkeyhint="search"
      (ionChange)="onSearch($event)"
    ></ion-searchbar>
    <ion-icon
      (click)="toggleFilterModal()"
      slot="end"
      size="large"
      name="filter-outline"
    ></ion-icon>
  </ion-toolbar>
  <div class="active-filter-wrapper" *ngIf="store.query().council.length > 0 || store.query().showInactive">
    <ion-chip *ngFor="let council of activeFilter.councils">
      <ion-label>{{ council.councilName }}</ion-label>
    </ion-chip>
    <ion-chip *ngIf="activeFilter.inactiveMembers">
      <ion-label>Inaktive anzeigen</ion-label>
    </ion-chip>
  </div>
</ion-header>

<ion-content role="feed" class="ion-padding">
  <ng-container *ngIf="!store.isLoading(); else loadingScreen">
    <ng-container *ngIf="!store.hasError(); else errorScreen">
      <ng-container *ngIf="!store.hasNoContent(); else noContentScreen">
        <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
          <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
        <app-council-member-card
          *ngFor="let councilMember of store.councilMembers()"
          [councilMember]="councilMember"
          (click)="onClickPerson(councilMember.ID)"
        ></app-council-member-card>
        <ion-infinite-scroll
          threshold="100px"
          (ionInfinite)="distanceReached($event)"
        >
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ng-container>
    </ng-container>
  </ng-container>
</ion-content>

<ion-modal
  handle="true"
  [isOpen]="isModalOpen"
  [presentingElement]="presentingElement"
>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Ratsmitglieder filtern</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="toggleFilterModal()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <app-council-member-filter-form  [preset]="activeFilter" (applyFilter)="onFilter($event)">
      </app-council-member-filter-form>
    </ion-content>
  </ng-template>
</ion-modal>

<ng-template #loadingScreen>
  <app-loading-screen></app-loading-screen>
</ng-template>

<ng-template #noContentScreen>
  <app-no-content-screen (resetFilter)="resetFilter()"></app-no-content-screen>
</ng-template>

<ng-template #errorScreen>
  <app-error-screen (retry)="retrySearch()"></app-error-screen>
</ng-template>
