ion-toolbar {
  --padding-end: var(--app-spacing-md);
}

ion-modal ion-toolbar {
  --background: var(--ion-color-step-150);
  --color: var(--ion-color-secondary-contrast);

  ion-button::part(native) {
    color: var(--ion-color-primary);
  }
}

.active-filter-wrapper {
  padding: var(--app-spacing-sm) var(--app-spacing-md) 0 var(--app-spacing-md);
  background-color: var(--ion-color-primary-contrast);
}
