@import '../../../../theme/mixins.scss';

.text-card {
  @include card-base();
}

.text-card-content {
  @include content-padding();
}

.text-card-content *:last-child {
  margin-bottom: 0;
}

.text-card-title {
  @include text-title();
}

.text-card-description {
  @include text-description();
}

.card-flex-container {
  @include flex-between();
}

.canton-flag {
  width: var(--app-spacing-xl);
  height: var(--app-spacing-xl);
  margin-right: var(--app-spacing-md);
  border: var(--app-border-color-dark) 1px solid;
}
