<ion-header>
  <ion-toolbar>
    <ion-title> Geschäfte </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      #searchBar
      appHideKeyboardOnEnter
      color="light"
      enterkeyhint="search"
      (ionFocus)="onFocus()"
      (ionChange)="onSearch($event)"
    ></ion-searchbar>
    <ion-icon
      (click)="toggleFilterModal()"
      slot="end"
      size="large"
      name="filter-outline"
    ></ion-icon>
  </ion-toolbar>
  <div
    class="current-filter"
    *ngIf="selectedBusinessTypes.length > 0 || selectedBusinessStatuses.length > 0"
  >
    <ion-chip *ngFor="let businessType of selectedBusinessTypes">
      <ion-label>{{ businessType.BusinessTypeName }}</ion-label>
    </ion-chip>
    <ion-chip *ngFor="let businesStatus of selectedBusinessStatuses">
      <ion-label>{{ businesStatus.BusinessStatusName }}</ion-label>
    </ion-chip>
  </div>
  <div class="search-suggestions" *ngIf="showSuggestedSearches">
    <p><small>Nach Thema suchen</small></p>
    <ion-chip
      *ngFor="let term of suggestedSearchTerms"
      (click)="onSuggestedSearchTopic(term)"
      >{{ term }}</ion-chip
    >
  </div>
</ion-header>

<ion-content role="feed" class="ion-padding">
  <ng-container *ngIf="!loading; else loadingScreen">
    <ng-container *ngIf="!error; else errorScreen">
      <ng-container *ngIf="!noContent; else noContentScreen">
        <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
          <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
        <app-business-card
          *ngFor="let business of businesses"
          [business]="business"
          (click)="onClickBusiness(business.ID)"
        ></app-business-card>
        <ion-infinite-scroll
          threshold="100px"
          (ionInfinite)="distanceReached($event)"
        >
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ng-container>
    </ng-container>
  </ng-container>
</ion-content>

<ion-modal
  handle="true"
  [isOpen]="isModalOpen"
  [presentingElement]="presentingElement"
>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Geschäfte filtern</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="toggleFilterModal()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ng-container *ngIf="!filterError; else errorScreen">
        <form [formGroup]="filterForm">
          <h3>Geschäftstyp</h3>
          <ion-list>
            <ion-item *ngFor="let businessType of businessTypes; let i = index">
              <ion-checkbox
                labelPlacement="start"
                [formControl]="businessTypesArray[i]"
                >{{ businessType.BusinessTypeName }}</ion-checkbox
              >
            </ion-item>
          </ion-list>
          <h3>Geschäftsstatus</h3>
          <ion-list>
            <ion-item
              *ngFor="let businessStatus of businessStatuses; let i = index"
            >
              <ion-checkbox
                labelPlacement="start"
                [formControl]="businessStatusesArray[i]"
                >{{ businessStatus.BusinessStatusName }}</ion-checkbox
              >
            </ion-item>
          </ion-list>
        </form>

        <div class="floating-button" *ngIf="showFilterButton">
          <ion-button expand="block" (click)="applyFilter()"
            >Filter anwenden</ion-button
          >
        </div>
      </ng-container>
    </ion-content>
  </ng-template>
</ion-modal>

<ng-template #loadingScreen>
  <app-loading-screen></app-loading-screen>
</ng-template>

<ng-template #noContentScreen>
  <app-no-content-screen (resetFilter)="resetFilter()"></app-no-content-screen>
</ng-template>

<ng-template #errorScreen>
  <app-error-screen (retry)="retrySearch()"></app-error-screen>
</ng-template>
