.business-label-container {
  display: flex;
  gap: var(--ion-padding-sm);
  justify-content: flex-start;
  align-items: center;
  margin-bottom: var(--ion-padding-sm);
  flex-wrap: wrap;
}

.business-label {
  border-radius: var(--ion-border-radius-lg);
  border: 1px solid var(--ion-color-border);
  color: var(--ion-color-text-secondary);
  padding: var(--ion-padding-xs) var(--ion-padding-sm);
  font-size: var(--ion-font-size-sm);
}
