@import '../../../../theme/mixins.scss';

.business-label-container {
  display: flex;
  gap: var(--app-spacing-sm);
  justify-content: flex-start;
  align-items: center;
  margin-bottom: var(--app-spacing-sm);
  flex-wrap: wrap;
}

.business-label {
  @include badge-style();
}
