<ng-container *transloco="let t;">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{ t('business.list.title') }}</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar
        #searchBar
        appHideKeyboardOnEnter
        color="light"
        enterkeyhint="search"
        placeholder="{{ t('common.search.placeholder') }}"
        (ionChange)="onSearch($event)"
      ></ion-searchbar>
      <ion-icon
        (click)="toggleFilterModal()"
        slot="end"
        size="large"
        name="filter-outline"
      ></ion-icon>
    </ion-toolbar>
    @if (store.query().businessTypes.length > 0 || store.query().businessStatuses.length > 0) {
      <div
        class="active-filter-wrapper"
      >
        @for (businessType of store.query().businessTypes; track businessType) {
          <ion-chip>
            <ion-label>{{ businessType.BusinessTypeName }}</ion-label>
          </ion-chip>
        }
        @for (businessStatus of store.query().businessStatuses; track businessStatus) {
          <ion-chip>
            <ion-label>{{ businessStatus.BusinessStatusName }}</ion-label>
          </ion-chip>
        }
      </div>
    }
    @if (showSuggestedSearches) {
      <div class="search-suggestions">
        <p><small>{{ t('business.list.searchSuggestions') }}</small></p>
        @for (term of suggestedSearchTerms; track term) {
          <ion-chip
            (click)="onSuggestedSearchTopic(term)"
          >{{ term }}
          </ion-chip
          >
        }
      </div>
    }
  </ion-header>

  <ion-content role="feed" class="ion-padding">
    @if (!store.isLoading()) {
      @if (!store.hasError()) {
        @if (!store.hasNoContent()) {
          <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
            <ion-refresher-content></ion-refresher-content>
          </ion-refresher>
          @for (business of store.businesses(); track business) {
            <app-business-card
              [business]="business"
              (click)="onClickBusiness(business.ID)"
            ></app-business-card>
          }
          <ion-infinite-scroll
            threshold="100px"
            (ionInfinite)="distanceReached($event)"
          >
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
          </ion-infinite-scroll>
        } @else {
          <app-no-content-screen (resetFilter)="resetFilter()"></app-no-content-screen>
        }
      } @else {
        <app-error-screen (retry)="retrySearch()"></app-error-screen>
      }
    } @else {
      <app-loading-screen></app-loading-screen>
    }
  </ion-content>

  <ion-modal
    handle="true"
    [isOpen]="isModalOpen"
    [presentingElement]="presentingElement"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ t('business.list.filter') }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="toggleFilterModal()">{{ t('common.close') }}</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        @if (!this.store.hasFilterError()) {
          <app-business-filter-form (submitFilter)="toggleFilterModal()"></app-business-filter-form>
        } @else {
          <app-error-screen (retry)="retrySearch()"></app-error-screen>
        }
      </ion-content>
    </ng-template>
  </ion-modal>
</ng-container>



