ion-toolbar {
  --padding-end: var(--app-spacing-md);
}

ion-modal ion-toolbar {
  --background: var(--ion-color-step-150);
  --color: var(--ion-color-secondary-contrast);

  ion-button::part(native) {
    color: var(--ion-color-primary);
  }
}

ion-chip {
  margin: 0 var(--app-spacing-sm) var(--app-spacing-sm) 0;
}

.search-suggestions {
  padding: var(--app-spacing-sm) var(--app-spacing-md) 0 var(--app-spacing-md);
  color: var(--app-text-muted);
  background-color: var(--ion-color-primary-contrast);
  height: 100vh;

  p {
    margin-top: var(--app-spacing-sm);
  }
}

.active-filter-wrapper {
  padding: var(--app-spacing-sm) var(--app-spacing-md) 0 var(--app-spacing-md);
  background-color: var(--ion-color-primary-contrast);
}
