ion-toolbar {
  --padding-end: 1rem;
}

ion-modal ion-toolbar {
  --background: var(--ion-color-step-150);
  --color: var(--ion-color-secondary-contrast);

  ion-button::part(native) {
    color: var(--ion-color-primary);
  }
}

ion-chip {
  margin: 0 0.5rem 0.5rem 0;
}

.search-suggestions {
  padding: 0.5rem 1rem 0 1rem;
  color: #666666;
  background-color: var(--ion-color-primary-contrast);
  height: 100vh;

  p {
    margin-top: 0.5rem;
  }
}

.active-filter-wrapper {
  padding: 0.5rem 1rem 0 1rem;
  background-color: var(--ion-color-primary-contrast);
}
