ion-toolbar {
  --padding-end: 1rem;
}

ion-modal ion-toolbar {
  --background: var(--ion-color-step-150);
  --color: var(--ion-color-secondary-contrast);

  ion-button::part(native) {
    color: var(--ion-color-primary);
  }
}

ion-modal ion-list:last-child {
  padding-bottom: 4rem;
}

ion-chip {
  margin: 0 0.5rem 0.5rem 0;
}

.search-suggestions {
  padding: 0.5rem 1rem 0 1rem;
  color: #666666;
  background-color: var(--ion-color-primary-contrast);
  height: 100vh;

  p {
    margin-top: 0.5rem;
  }
}

.current-filter {
  padding: 0.5rem 1rem 0 1rem;
  background-color: var(--ion-color-primary-contrast);
}

.floating-button {
  position: fixed;
  bottom: 1rem;
  left: 0;
  right: 0;
  z-index: 999;
}
