@import '../../../../theme/mixins.scss';

.text-card {
  @include card-base();
}

.text-card-content {
  @include content-padding();
}

.text-card-content *:last-child {
  margin-bottom: 0;
}

.text-card-title {
  @include text-title();
}

.text-card-description {
  @include text-description();
}

small {
  @include text-muted();
}
