.text-card {
  border-radius: var(--ion-border-radius-sm);
  box-shadow: var(--ion-box-shadow-lg);
  overflow: hidden;
  background: var(--ion-color-secondary);
  margin: 0 0 var(--ion-padding-sm) 0;
}

.text-card-content {
  padding: var(--ion-padding-lg);
}

.text-card-content *:last-child {
  margin-bottom: 0;
}

.text-card-title {
  font-size: var(--ion-font-size-xs);
  letter-spacing: 0.4px;
  font-weight: 700;
  color: var(--ion-color-primary);
}

.text-card-description {
  font-size: var(--ion-font-size-md);
  line-height: 1.4;
  color: var(--ion-color-text-secondary);
}

small {
  color: var(--ion-color-text-secondary);
}
