.logo {
  display: block;
  margin: 4rem auto;
  width: 150px;
}

ion-item {
  --color: var(--app-text-muted);
  --border-color: var(--app-border-color);
}

ion-button {
  margin-top: var(--app-spacing-md);
}
