<ng-container *transloco="let t; prefix: 'settings'">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{ t('title') }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <img
      class="logo"
      width="100"
      src="assets/logo-caption.png"
      alt="ParlWatch Logo"
    />
    <ion-card>
      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header">
            <ion-label>{{ t('language') }}</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-radio-group value="de" (ionChange)="languageChanged($event)">
              <ion-item lines="full">
                <ion-radio value="de" justify="space-between"
                  >{{ t('language.german') }}</ion-radio
                >
              </ion-item>
              <ion-item lines="full">
                <ion-radio disabled value="fr" justify="space-between"
                  >{{ t('language.french') }}
                </ion-radio>
              </ion-item>
              <ion-item lines="full">
                <ion-radio disabled value="it" justify="space-between"
                  >{{ t('language.italian') }}
                </ion-radio>
              </ion-item>
              <ion-item lines="full">
                <ion-radio disabled value="en" justify="space-between"
                  >{{ t('language.english') }}
                </ion-radio>
              </ion-item>
            </ion-radio-group>
          </div>
        </ion-accordion>
        <ion-accordion value="second">
          <ion-item slot="header">
            <ion-label>ParlWatch</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <h3>{{ t('about.title') }}</h3>
            <p>{{ t('about.text') }}</p>

            <h3>{{ t('openSource.title') }}</h3>
            <p>{{ t('openSource.text') }}</p>

            <h3>{{ t('dataSource.title') }}</h3>
            <p>{{ t('dataSource.text') }}</p>

            <h3>{{ t('dataProtection.title') }}</h3>
            <p>{{ t('dataProtection.text') }}</p>

            <h3>{{ t('githubRepository.title') }}</h3>
            <p
              [innerHTML]="t('githubRepository.text', { link: 'https://github.com/michaelschoenbaechler/parlwatch'})"
            ></p>
          </div>
        </ion-accordion>
        <ion-accordion value="third">
          <ion-item slot="header">
            <ion-label>{{ t('feedback.title') }}</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            {{ t('feedback.text') }}
            <ion-button
              expand="block"
              size="small"
              fill="outline"
              (click)="surveyClicked()"
              >{{ t('feedback.poll.button') }}
            </ion-button>
            <p>
              <small>{{ t('feedback.poll.info') }}</small>
            </p>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-card>
  </ion-content>
</ng-container>
