.logo {
  display: block;
  margin: 4rem auto;
  width: 150px;
}

ion-item {
  --color: var(--ion-color-text-secondary);
  --border-color: var(--ion-color-border-light);
}

ion-button {
  margin-top: var(--ion-padding-md);
}
