ion-item::part(native) {
  padding-left: 0;
}

ion-select {
  --padding-top: 0;
  --padding-end: var(--app-spacing-xs);
  --padding-bottom: 0;
}

app-vote-card ion-button {
  margin-top: var(--app-spacing-md);
}

.vote-flex-container {
  display: flex;
  justify-content: space-between;
}
