.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loading-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner {
  --spinner-stroke-width: var(--ion-padding-md);
  width: 3rem;
  height: 3rem;
  margin-bottom: var(--ion-padding-md);
}

.fixed-height {
  min-height: 5rem;
}
