@import '../../../../theme/mixins.scss';

.loading-container {
  @include flex-center();
  height: 100%;
}

.loading-content {
  @include flex-column();
  align-items: center;
}

.spinner {
  --spinner-stroke-width: var(--app-spacing-md);
  width: 3rem;
  height: 3rem;
  margin-bottom: var(--app-spacing-md);
}

.fixed-height {
  min-height: 5rem;
}
