<app-text-card
  [title]="
    vote.BusinessShortNumber + (vote.Subject ? ' - ' + vote.Subject : '')
  "
  [subtitle]="'Abgestimmt am ' + (vote.VoteEnd | oDataDateTime)"
  [HtmlText]="vote.BillTitle ? vote.BillTitle : vote.BusinessTitle"
>
  <div class="voting-bar">
    <div
      *ngFor="let vote of voteCount"
      class="fill"
      [class]="vote.decision"
      [style.width.%]="vote.percentage"
      [style.left.%]="getLeftPosition(vote.decision)"
    ></div>
  </div>
  <ng-content></ng-content>
</app-text-card>
