.voting-bar {
  margin-top: var(--app-spacing-md);
  position: relative;
  width: 100%;
  height: var(--app-spacing-sm);
  overflow: hidden; /* To make sure the inner div doesn't overflow */
}

.fill {
  position: absolute;
  height: 100%;
}

.yes {
  background-color: var(--ion-color-success); /* Green for "yes" */
}

.no {
  background-color: var(--ion-color-primary); /* Red for "no" */
}

.no-vote {
  background-color: var(--ion-color-medium); /* Grey for "no votes" */
}
